/*****************************************/
/*基础header颜色*/
.bc-head {
    /*background-color: #00CFFF;*/
   background-color: #2daf30;
}
/*****************************************/
/*基础body背景颜色*/
.bc-bg {
    /*background-color: #EEEEEE;*/
   background-color: #f7ffca;
}
/*辅助控件背景颜色*/
.sc-bg {
    /*background-color: #EEEEEE;*/
   background-color: #f7ffca;
}
/*辅助控件背景颜色*/
.sc-bg-active {
    /*background-color: #E8E8E8;*/
    /*background-color: #DFDFDF;*/
   background-color: #b9ff8a;
}
/*警告背景色*/
.sc-bg-alert {
    background-color: #F16412;
}
/*****************************************/
/*基础字体颜色*/
.bc-text {
    color: black;
}
/*基础标题字体颜色*/
.bc-text-head {
    color: white;
}
/*辅助字体颜色*/
.sc-text {
    color: #848484;
}
/*辅助字体颜色*/
.sc-text-active {
    /*color: #00A1EA !important;*/
    color: #2daf30 !important;
}
/*辅助字体颜色*/
.sc-text-hint {
    /*color: #E3E3E3;*/
   color: #f0ffc0;
}
/*辅助字体颜色*/
.sc-text-warn {
    color: #FC7800;
}
/*辅助字体颜色*/
.sc-text-tab {
    /*color: #A3A3A3;*/
   color: #AFAFAF;
}
/*****************************************/
/*基础边框颜色*/
.bc-border {
    border-color: #BABABA;
}
/*辅助边框颜色*/
.sc-border {
    border-color: #FFFFFF;
}
/*****************************************/
/*基础按钮颜色*/
.bc-btn {
    /*background-color: #00DDC8;*/
   background-color: #3de040;
}
/*辅助按钮颜色*/
.sc-btn {
    /*background-color: #00C1FA;*/
    background-color: #2daf30;
}






